:root {
  --size: 200px;
}

.cube {
  transform-origin: center center calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  transform: perspective(1200px) rotateX(var(--cube-rotate-x)) rotateY(var(--cube-rotate-y)) rotateZ(var(--cube-rotate-z));
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  will-change: transform;
}

/* CSS стили для куба во время перетаскивания */
.dragging {
  /* Отключаем анимацию */
  transition: none;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-image: url(./images/border-fractal.webp) 32% / 74px / 21px;
  /* url(./images/border-fractal.webp) 29% / 7px / 15px ШТРИХИ ВОКРУГ!! */
  /* url(./images/border-fractal.webp) 54% / 123px / 19px ПРИКОЛЬНЫЕ УГОЛКИ */
  /* border-image: url(./images/border-fractal.webp) 32% / 126px / 21px; КРУТОЙ ОРНАМЕНТ*/
  /* url(./images/border-fractal.webp) 116% / 126px / 18px КРУТОЙ ОРНАМЕНТ. + REPEAT */
  /* backface-visibility: hidden; */
  /* touch-action: none; */
  animation: borderImg 10s ease-in-out alternate infinite;
}

@keyframes borderImg {
  0%, 20% {
    border-image: url(./images/border-fractal.webp) 32% / 74px / 21px;
  }
  40%, 60% {
    border-image: url(./images/border-fractal.webp) 32% / 126px / 21px;
  }
  90%, 100% {
    border-image: url(./images/border-fractal.webp) 116% / 126px / 18px;
  }
}

.top {
  /* background-image: repeating-radial-gradient(circle, rgba(253, 36, 163, 0.8) 0px 3px, rgba(50, 253, 36, 0.8) 3px 6px); */
  background-color: rgb(253 36 175 / 0.8);
  inset-block-start: 0;
  inset-inline-start: 0;
  transform-origin: top center;
  transform: rotateX(-90deg) rotateY(180deg) ;
}

.right {
  background-color: rgb(254 175 232 / 0.8);
  inset-block-start: 0;
  inset-inline-end: 0;
  transform-origin: right center;
  transform: rotateY(-90deg) rotateX(180deg);
}

.bottom {
  /* background-image: repeating-conic-gradient(rgba(234, 220, 32, 0.8) 0 5deg, rgba(162, 59, 196, 0.8) 5deg 10deg); */
  background-color: rgb(255 200 2 / 0.8);
  inset-block-end: 0;
  inset-inline-start: 0;
  transform-origin: bottom center;
  transform: rotateX(90deg) rotateY(180deg);
}

.left {
  background-color: rgb(128 217 148 / 0.8);
  inset-block-start: 0;
  inset-inline-start: 0;
  transform-origin: left center;
  transform: rotateY(90deg) rotateX(180deg);
}

.front {
  
  /* background-image: repeating-linear-gradient(to right, rgba(56, 28, 185, 0.8) 0 2px, rgb(0 0 0/ 0) 2px 4px), 
                    repeating-linear-gradient(to bottom, rgba(56, 28, 185, 0.8) 0 2px, rgb(0 0 0/ 0) 2px 4px); */
  background-color: rgba(76, 53, 206, 0.8);
  inset-block-start: 0;
  inset-inline-start: 0;
}



.back {
  background-color: rgb(109 193 253 / 0.8);
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translateZ(calc(var(--size) * -1)) rotateX(180deg) rotateZ(180deg);
}