@media (width <= 900px) {
  body {
    font-size: 28px;
  }

  .side-bar {
    inset-inline-start: 2vw;
    inset-block-start: 5%;
    inline-size: 85px;
  } 
  .button {
    font-size: 10px;
    max-width: 70px;
    max-height: 70px;
  }

  .svg-3d-conteiner {
    transform: translateX(-150px);
  }

  .gran-svg {
    scale: 0.8;
    
  }

  /* .view {
    scale: 0.85;
  } */

  /* .shadow-of-view {
    min-block-size: calc(350px * 0.8);
  } */
}

@media (width <= 450px) { 
  .side-bar {
    transform: translateX(-50%);
    inset-inline-start: 50%;
    inset-block-start: 1%;
    display: flex;
    gap: 10px;
    align-items:center;
    justify-content: center;
    block-size: 85px;
    inline-size: 90vw;
  } 

  .fire-video {
    rotate: -90deg;
    translate: -25% 47%;
    inline-size: 100vh;
    block-size: 100vw;
   
  }
}