* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  background-image: url(./images/cover-image.png);
  block-size: 100vh;
}



.view {
  --cube-rotate-x: 0deg;
  --cube-rotate-y: 0deg;

  display: grid;
  place-items: center;
  padding: 60px;
  background-color: transparent;
  transform-style: preserve-3d;
  min-block-size: 28vh;
  mix-blend-mode: color;
  transform: perspective(800px) scale3d(1, 1, 1) translateZ(0) /*rotate3d(0deg, 0deg, 0deg) */;
}

.view.pulse {
  animation: puls 3s ease;
}

@keyframes puls {
  from {
    transform: perspective(800px) scale3d(1, 1, 1) translateZ(0)/*rotate3d(0deg, 0deg, 0deg)*/ ;
  }

  25% {
    transform: perspective(800px) scale3d(1, 1, 3) translateZ(100px)/*rotate3d(360deg, 360deg, 360deg)*/ ;
  }

  50% {
      transform: perspective(800px) scale3d(1, 1, 0.5) translateZ(0)/*rotate3d(0deg, 0deg, 0deg)*/ ;
    }

  75% {
      transform: perspective(800px) scale3d(1, 1, 3) translateZ(100px)/*rotate3d(360deg, 360deg, 360deg)*/ ;
    }

  to {
     transform: perspective(800px) scale3d(1, 1, 1) translateZ(0)/*rotate3d(0deg, 0deg, 0deg)*/ ; 
  }
}

/* .fire-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  object-fit: cover;
  max-inline-size: 100%;
  min-block-size: 80vh;
  border-radius: 40px;
  opacity: 0.5;
  box-shadow: 10px 10px 15px 15px #000, -10px -10px 15px 15px #000;
} */

.side-bar {
  position: absolute;
  z-index: 10;
  inset-inline-start: 1%;
  inset-block-start: 20%;
  display: grid;
  gap: 10px;
  place-content: center;
  block-size: 40vh;
  inline-size: 10vw;
  border-radius: 40px;
}

@media (width <= 450px) {
  body {
    block-size: 100dvw;
  }
  .side-bar {
    transform: translateX(-50%);
    inset-inline-start: 50%;
    inset-block-start: 1%;
    display: flex;
    gap: 10px;
    align-items:center;
    justify-content: center;
    block-size: 10vh;
    inline-size: 80vw;
  } 
}

.button {
  padding: 20px 40px;
  background-color: rgba(59, 10, 108, 0.5);
  color: #fff;
  border-radius: 40px;
}

@keyframes fallAndBounce {
  0% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  25% {
    transform: translateY(32vh) scaleX(1.3) scaleY(0.55);
  }
  50% {
    transform: translateY(0) scaleX(0.8) scaleY(1);
  }
  75% {
    transform: translateY(28vh) scale(1.3) scaleY(0.75);
  }
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}

.view.falling {
  animation: fallAndBounce 1.1s ease;
}