body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  background-image: url(./images/cover-image.png);
  min-block-size: 100vh;
}

.view {
  --cube-rotate-x: 0deg;
  --cube-rotate-y: 0deg;

  display: grid;
  place-items: center;
  padding: 60px;
  overflow: hidden;
  background-color: transparent;
  transform-style: preserve-3d;
  min-block-size: 45vh;
  mix-blend-mode: exclusion;
  animation: puls 2.5s ease infinite;
   transform: perspective(1000px) scale3d(1, 1, 1) translateZ(100px) /*rotate3d(0deg, 0deg, 0deg) */;
}

@keyframes puls {
  from {
    transform: perspective(1000px) scale3d(1, 1, 1) translateZ(100px) /*rotate3d(0deg, 0deg, 0deg)*/ ;
  }
  50% {
    transform: perspective(1000px) scale3d(1, 1, 2.5) translateZ(100px) /*rotate3d(360deg, 360deg, 360deg)*/ ;
  }
  to {
     transform: perspective(1000px) scale3d(1, 1, 1) translateZ(100px) /*rotate3d(0deg, 0deg, 0deg)*/ ; 
  }
}

.fire-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  object-fit: cover;
  max-inline-size: 100%;
  min-block-size: 80vh;
  border-radius: 40px;
  opacity: 0.5;
  box-shadow: 10px 10px 15px 15px #000, -10px -10px 15px 15px #000;
}